html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn.btn-noef {
    float: right !important;
    margin-left: 4px !important;
}

.btn.btn-noef:hover {
    background-color: transparent !important;
}

.offcanvas-header.offcanvas-header-customized {
    background-color:#c3e9f5;
}